@font-face {
  font-family: "Teletoon";
  src: url("./TeletoonLowercaseV2-MwBP.ttf") format('truetype');
}
@font-face {
  font-family: "Pixel";
  src: url("../fonts/font-pixel.ttf") format('truetype');
}
