@import url('../css/lib.css');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: #185975;
}

.header {
  text-align: center;
}

.authorization {
  width: 24%;
}

.games {
  width: 75%;
}

.games__item {
  position: relative;
  height: 25vh;
  margin-bottom: 8px;
}

.games__tittle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
