@import url('../css/lib.css');

.container-tetris {
  width: min(56vh, 99vw);
  height: min(99vh, 173vw);
}

.nextContainer {
  width: 100%;
}
#next {
  margin: 0 auto;
  width: 12vh;
  height: 12vh;
  border: 1px solid red;
}
