.tittle-l { font-size: 80px; }
.tittle-m { font-size: 30px; }
.text-teletoon { font-family: "Teletoon"; }
.text-pixel { font-family: "Pixel"; }
.text-bold { font-weight: bold; }
.text-up { text-transform: uppercase; }
.text-clean { text-decoration: none; }
.text-orange { color: #f0a830; }
.text-white { color: #ffffff; }
