.slider {
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 15px;
}

.slider__filled {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  pointer-events: none;
}

.slider__toddler {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 30px;
  transform: translateY(-50%);
  pointer-events: none;
}
