.container {
  /* width: 100%;
  max-width: 700px;
  height: 99vh; */
  margin: 0 auto;
  border: 1px solid red;
}

.header {
  height: 5%;
}

.separate {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-start;
  height: 95%;
  margin-top: 8px;
}

.information {
  width: 24%;
}

.mainBlock {
  position: relative;
  width: 75%;
  height: 100%;
}
.mainBlock__menu {
  position: relative;
  padding: 5vh 0;
}
.mainBlock__button {
  width: 50%;
  margin: 14px auto;
}
/* исправить */
#game {
  width: 100%;
  height: 100%;
}
