@import url('../css/lib.css');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: #185975;
}

.error__tittle {
  margin-top: 25px;
  position: relative;
  height: 40vh;
  text-align: center;
}

.tittle-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
